* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ///////////////////////////////////////////////////////// */
header {
    width: 100%;
    /* background-color: red; */
}

.containerBlackBox {
    width: 100%;
    height: 50%;
    background-color: #0D2D3E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.containerBlack {
    width:85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.flex-StartBox {
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    color: white;
    cursor: pointer;
}

.flex-StartBox i {
    color: red;
}
.flex-StartBox p:hover {
    color: red;
}

.flex-EndBox {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    color: white;
    cursor: pointer;
    
}

.flex-EndBox i {
    padding: 3px;
}

.flex-EndBox i:hover {
    color: red;
}

/* /////// */

.containerWhiteBox {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: sticky;
    top:0;
}

.containerWhite {
    width:85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: blue; */
}

#flex-StartBox {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: white; */
}

#flex-EndBox {
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}

img {
    cursor: pointer;
}
#flex-EndBox ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style-type: none;
    cursor: pointer;
}

#flex-EndBox ul li {
    color: black;
    padding: 6px;
}
#flex-EndBox ul li:hover {
    color: red;
}


.a-Tag {
    text-decoration: none;
    color: black;
}


.blogMenu {
    position: absolute;
    z-index: 1;
    background-color: #0D2D3E;
    margin-top: 25px;
    margin-left: -15px;
    padding: 15px;
    display: none;
}

.blogMenu a {
    text-decoration: none;
    color: white;
}

.news-li:hover  .blogMenu {
    display: block;
    background-color: #0D2D3E;
    
}

.blogMenu a:hover {
    margin-left: 2px;
}

/* //// */
.menuBox button {
    display: none;
}

.repronsiveBox  {
    display: none;
}

/* header final///////////////////////////////////////////////////? */


/* img1//////////////////////// */
#img1Box {
    background-image: url(../IMAGE/h1_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* min-height: 90vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}



.innerBox {
    width: 66%;

}

.write {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #eb566c;
    font-size: 18px;
    margin-bottom: 22px;
    cursor: pointer;

}

.write::before {
    content: "";
    width: 70px;
    height: 2px;
    background-color: #eb566c;
}

.innerBox h1 {
    font-size: 85px;
    font-weight: 800;
    color: black;
    margin-bottom: 33px;
    cursor: pointer;
}

.innerBox p {
    color: black;
    margin-bottom: 50px;
    cursor: pointer;
}
.img1-btn{
    overflow: hidden;
}

.img1-btn {
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    background-color: #ff2143;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    
}
.img1-btn:hover{
    color: black;
}
.img1-btn:hover::before{
    transform: translateX(0%);

}
.img1-btn::before{
    content: "";
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    transform-origin: 0 0;
    transform: translateX(-100%);
    z-index: -1;
   

}

/* section img1Box final///////////////////////////////// */

/* img2Box */

.img1Container {
    width: 85%;
}
#img2Box {
    padding: 195px 0 170px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
.servicesBox{
    padding: 5px;
}
.servicesBox h2 {
    font-size: 50px;
    color: #092c3f;
    font-weight: 900;
}

.servicesCarts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.servicesCart {
    padding: 30px 22px;
    text-align: center;
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: 2;
   
}



.servicesCart h5 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 21px;
    color: #1c165c;

}

.servicesCart p {
    margin-bottom: 36px;
    color: #57667e;

}

.servicesCart i {
    display: block;
    margin: 30px 0;
    color: #eb566c;
    font-size: 65px;

}

.servicesCart:hover::before{

    transform: translateY(0%);

}
.servicesCart::before{
    content: "";
    position: absolute;
    border: 9px solid white;
    background-color: #ff2143;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    transform: translateY(100%);
    z-index: -1;


}
.servicesCart:hover h5{
    color: white;
}
.servicesCart:hover i {
    color: white;
}
.servicesCart:hover p{
    color: white;
}
